/*
Author: Cassie Lewis
https://clewisdev.com
Date: March 2023
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/

    --black: 000000;
    --white: #ffffff;
    --light: #FDF7F4;
    --orange: #FFD18C;
    --dark-orange: #FFA724;
  
    
    /*BORDER RADIUS*/
    --br-soft: .5rem;
    --br-softer: 2rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.5rem;
    --fs-m: 1.875rem;
    --fs-l: 2.5rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Inter', sans-serif;
    background-color: lightgray;
}

p {
    font-size: var(--fs-l);
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.5rem;
}

@media (max-width: 650px) {
    p {
        font-size: var(--fs-m);   
        text-align: center;
    }
}


/****** LAYOUT ******/

.main-container {
    max-width: 1440px;
    background-color: var(--light);
    margin: 1rem auto;
}

.header-container,
.menu-container {
    background-color: var(--white);
    text-align: center;
}

.header-container,
.menu-container,
.btns-container,
.accounts-container,
.spendings-container {
    width: 100%;
}

.btns-container,
.accounts-spendings-container {
    background-color: var(--light);
    margin: 0 auto 2.5rem auto;

    display: flex;
    justify-content: center;
}

.accounts-spendings-container {
    max-width: 1000px;
    margin: .5rem auto;
}

.accounts-container,
.spendings-container {
    padding: 0 1rem;
}

.accounts-container {
    margin-right: 2.375rem;   
}

@media (max-width: 650px) {
    
    .main-container {
        padding: 0 1rem;
        margin: 0 auto;
    }

  
    .btns-container,
    .accounts-spendings-container {
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;

    }

    .accounts-container {
        margin-right: 0;
    }
}


/****** HEADER STYLING ******/

.bestbank-logo {
    max-width: 375px;
    margin: 1.5rem 0;
}

nav ul {
    font-size: var(--fs-s);
    background-color: var(--orange);
    padding: .5rem;
    margin-bottom: 2rem;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

nav ul li:nth-child(1) {
    font-weight: 700;
} 

@media (max-width: 650px) {
    .bestbank-logo {
        max-width: 250px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 1rem;
    }
}

/****** BUTTONS STYLING ******/

button {
    width: 275px;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-m);
    font-weight: 700;
    background-color: var(--white);
    padding: 1rem 8rem;
    border: 5px solid var(--dark-orange);
    border-radius: var(--br-softer);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .5s ease-in;
    transition: transform .2s ease-in;
}

.pay-btn {
    margin-right: 2rem;
}

@media (max-width: 650px) {
    button{
        font-size: var(--fs-s);
        margin-bottom: 1rem;
    }

    .pay-btn {
        margin-right: 0;
    }
}

/****** LIST STYLING ******/

.accounts-list {
    margin-bottom: 5.5rem;
}

.accounts-list li,
.spendings-list li {
    width: 100%;
    font-size: var(--fs-s);
    font-weight: 700;
    margin-bottom: 1rem;
    border-radius: var(--br-soft);
    
    display: flex;
    justify-content: space-between;
}

.accounts-list li {
    background-color: var(--white);
    padding: 2rem;
    border: 5px solid var(--dark-orange);
}

.spendings-list li {
    background-color: var(--orange);
    padding: .75rem;
}

.spendings-list li:nth-child(1) {
    max-width: 530px;
}

.spendings-list li:nth-child(2) {
    max-width: 420px;
}

.spendings-list li:nth-child(3) {
    max-width: 330px;
}

.spendings-list li:nth-child(4) {
    max-width: 250px;
}

.spendings-list li:nth-child(5) {
    max-width: 220px;
}

@media (max-width: 650px) {

    .accounts-list {
        margin-bottom: 2rem;
    }
    .accounts-list li,
    .spendings-list li {
        margin-bottom: .5rem;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}

/****** HOVER ETC STATES AND ANIMATIONS ******/

button,
.accounts-list li {
    transition: background-color .5s ease-in;
    transition: transform .2s ease-in;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:hover,
button:focus,
button:active,
.accounts-list li:hover,
.accounts-list li:focus {
    background-color: var(--orange);
    transform: scale(1.05);
    cursor: pointer;
}

.orange {
    background-color: var(--orange) !important;
} 


